{{ $curLanguageName := .Site.Language.Lang }}
<header>
  <div class="header-title">
    {{/*  <a href="{{ .Site.LanguagePrefix }}/">{{ or .Site.Params.headTitle .Site.Params.author.name }}博客</a>  */}}
    <a href="{{ .Site.LanguagePrefix }}/">{{ or .Site.Params.headTitle }}</a>
  </div>
  <div class="header-subtitle">{{ .Site.Params.Description }}</div>

  <!-- 添加一个按钮用于切换主题 -->

  <script>
    const options = {
      bottom: '32px', // default: '32px'
      right: '32px', // default: '32px'
      left: 'unset', // default: 'unset'
      time: '1.0s', // default: '0.3s'
      mixColor: '#fff', // default: '#fff'
      backgroundColor: '#fff',  // default: '#fff'
      buttonColorDark: '#131824',  // default: '#100f2c'
      buttonColorLight: '#fff', // default: '#fff'
      saveInCookies: false, // default: true,
      label: '🌀', // default: ''
      autoMatchOsTheme: true // default: true
    }
    
    const darkmode = new Darkmode(options);
    darkmode.showWidget();
    
  </script>  

</header>
<div class="row header-items">
  {{ partial "nav.html" . }}
</div>

<div class="row end-xs">
  {{ range .Site.Home.AllTranslations -}} {{ if ne .Language.Lang $curLanguageName }}
  <div class="lang-switch col-xs-3 col-xs-offset-9">
    <a href="/{{ .Lang }}/">{{ .Language.Lang }}</a>
  </div>
  {{ end }} {{ end }}
</div>
<div class="header-line"></div>
