{{ define "footerfiles" }}
<script src="/js/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/fuse.js/3.2.0/fuse.min.js"></script>
<script src="/js/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "/js/search.js" | absURL }}"></script>
{{ end }}
{{ define "main" }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="search-container" >
    <form action="{{ "search" | absURL }}">

        <div id="search-box"><input id="search-query" name="s" placeholder="输入搜索内容...">
          <button type="submit" id="search-submit" action="{{ "search" | absURL }}">搜索</button>
        </div>

      {{/*  <input id="search-query" name="s"/>  */}}
    </form>
    <div id="search-results">

    </div>
  </div>
</section>


<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
{{ end }}