<div class="col-md-3">
    <!-- 右侧工具栏内容 -->
    <div id="sidebar">
      <h3>工具栏</h3>
      <p>让他多赚一些钱，好好更新博客。</p>
      <!-- 可以添加更多的工具栏内容 -->
        <!-- 打赏 -->
        {{ partial "reward.html" . }}
        <!-- 音乐播放器 -->
        <div class="music-player">
          <!-- <audio controls>
            <source src="https://od.lk/s/MTZfMTMwOTMzOTk3Xw/%E5%AD%A3%E5%80%99%E9%A3%8E.mp3" type="audio/mpeg">
            您的浏览器不支持音频播放。
          </audio> -->
          <p>感谢打赏</p>
          <p>因为空间限制了中文目录，请善用搜索找你需要的文章。</p>
          <script type="text/javascript" id="myhk" src="https://myhkw.cn/api/player/173409036855" key="173409036855" m="1"></script>
        </div>
    </div>
  </div>
